@using StripeIntegration.Shared.Constants

@{
    var relativePath = $"/{NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}";
    var subscriptionsActive = relativePath.Contains(Constants.ClientRoutes.Subscriptions, StringComparison.OrdinalIgnoreCase);
}

<div class='left-menu-container @(_isShown ? "opened-menu" : "closed-menu")'>

    <div class="main-content">
        <div class="logo">
            <div class="logo-img" @onclick="() => { _isShown = !_isShown; }">
                <img class="@(!_isShown ? "hidden-display-none" : "")" src="_content/StripeIntegration.Components/img/svg/full-logo.svg"/>
                <img class="@(_isShown ? "hidden-display-none" : "")" src="_content/StripeIntegration.Components/img/svg/hide-logo.svg"/>
            </div>
            <div class="close-button @(!_isShown ? "hidden-display-none" : "")" @onclick="() => { _isShown = !_isShown; }"></div>
        </div>

        <div class="logo-tabs-separator @(!_isShown ? "line" : "")"></div>

        <div class="tabs noselectable-text">
            <ul>
                <li class="tab-item subscriptions @(subscriptionsActive ? "active-tab" : "")"
                    @onclick="() => { OnRedirect(Constants.ClientRoutes.Subscriptions); }">
                    <div style='@(subscriptionsActive ? "" : "display: none;")'
                         class='@(subscriptionsActive ? "active-check" : "")'>
                    </div>
                    <div class="tab-icon">
                        <img src="_content/StripeIntegration.Components/img/left-menu/tab-icons/subscription-icon.svg"/>
                    </div>
                    <div class="tab-name">
                        <label class=" @(!_isShown ? "hide-text" : "show-text")">Subscriptions</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="open-button @(_isShown ? "hidden-display-none" : "")" @onclick="() => { _isShown = !_isShown; }"></div>
</div>